export(metaplus)
export(summary.metaplus)
export(testOutliers)
export(outlierProbs)
export(.onAttach)

importFrom(stats, AIC)
importFrom(stats, BIC)

importFrom(methods,setMethod)

import(boot,metafor,bbmle)

importFrom(numDeriv,hessian)

importFrom("graphics", "abline", "dotchart")
importFrom("methods", "new")
importFrom("stats", "constrOptim", "deriv", "dt", "integrate", "model.matrix", "nlm", "nlminb", "optimize", "printCoefmat", "qchisq", "rnorm")
importFrom("stats", "approx", "pnorm", "qnorm", "dnorm", "spline", "uniroot","optim","runif")

importFrom(MASS,ginv)

importFrom(fastGHQuad,aghQuad,gaussHermiteData)

importFrom(lme4,Nelder_Mead)

importFrom(Rfast, rowMaxs)

importFrom("parallel", "detectCores","makeCluster","stopCluster")

importFrom("doParallel", "registerDoParallel")

importFrom("foreach", "foreach", "%dopar%")

importFrom("doRNG", "%dorng%")

S3method(plot, metaplus)
S3method(summary, metaplus)
S3method(print, metaplus)
S3method(logLik, metaplus)
S3method(AIC, metaplus)
S3method(BIC, metaplus)
S3method(testOutliers, metaplus)
S3method(outlierProbs, metaplus)
S3method(print, summary.metaplus)

S3method(summary, testOutliers)
S3method(print, summary.testOutliers)

S3method(plot,outlierProbs)
